<section class="about-kitchen-section">
    <div class="container">
        <h2 class="visually-hidden ">About our kitchen</h2>
        <div class="about-kitchen-one-blok">
            <div class="about-kitchen-description">
                <p class="about-kitchen-amet">Amet minim mollit non</p>
                <h3 class="about-kitchen-mimino">MIMIHO</h3>
                <p class="about-kitchen-non">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit
                    officia consequat duis enim
                    velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="picture-kitchen">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./img/kitchen/kitchen-1-desktop-1x.jpg 1x, ./img/kitchen/kitchen-1-desktop-2x.jpg 2x," />
                    <source media="(min-width: 1024px) and (max-width: 1279px)"
                        srcset="./img/kitchen/kitchen-1-tablet-1x.jpg 1x, ./img/kitchen/kitchen-1-tablet-2x.jpg 2x," />
                    <source media="(max-width: 1023px)"
                        srcset="./img/kitchen/kitchen-1-mobile-1x.jpg 1x, ./img/kitchen/kitchen-1-mobile-2x.jpg 2x" />
                    <img class="about-kitchen-img-one" src="./img/kitchen/kitchen-1-desktop-1x.jpg" alt="kitchen"
                        width="460px" height="574px">
                </picture>

            </div>
        </div>
        <div class="about-kitchen-block">
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="./img/kitchen/kitchen-2-desktop-1x.jpg 1x, ./img/kitchen/kitchen-2-desktop-2x.jpg 2x," />
                <source media="(min-width: 1024px) and (max-width: 1279px)"
                    srcset="./img/kitchen/kitchen-2-tablet-1x.jpg 1x, ./img/kitchen/kitchen-2-tablet-2x.jpg 2x," />
                <source media="(max-width: 1023px)"
                    srcset="./img/kitchen/kitchen-2-mobile-1x.jpg 1x, ./img/kitchen/kitchen-2-mobile-2x.jpg 2x" />
                <img class="about-kitchen-img-two" src="./img/kitchen/kitchen-2-desktop-1x.jpg" alt="kitchen"
                    width="460px" height="574px">
            </picture>
            <p class="about-kitchen-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit
                officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="slider-restaurant"></div>
    </div>
</section>