<section class="about-kitchen-section">
    <h2 class="about-kitchen">About our kitchen</h2>
    <div class="about-kitchen-description">
        <p class="about-kitchen-amet">Amet minim mollit non</p>
        <p class="about-kitchen-mimino">MIMIHO</p>
        <p class="about-kitchen-non">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <img class="about-kitchen-img-one" src="" alt="">
    </div>
    <div class="about-kitchen-block">
        <img class="about-kitchen-img-two" src="" alt="">
        <p class="about-kitchen-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
</section>