<section class="menu-restoran container-menu">
  <h2 class="menu-main-title">МЕНЮ РЕСТОРАНУ</h2>
  <div class="flex-wrap">
    <div class="flex-first-column">
      <div class="food-class">Гарячі страви</div>
      <div class="food-name">Борщ з телятини з квасолею</div>
      <div class="flex-main">
        <div class="food-description">
          Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
          помідори, зелень, сметана
        </div>
        <div class="flex-two">
          <div class="food-weight">400 г</div>
          <div class="food-price">240 грн</div>
        </div>
      </div>
      <div class="food-name">Суп сирний з куркою</div>
      <div class="flex-main">
        <div class="food-description">
          Курятина, картопля, морква, цибуля, печериці, сир м‘який, зелень
        </div>
        <div class="flex-two">
          <div class="food-weight">400 г</div>
          <div class="food-price">200 грн</div>
        </div>
      </div>
      <div class="food-name">Паста карбонара</div>
      <div class="flex-main">
        <div class="food-description">
          Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
        </div>
        <div class="flex-two">
          <div class="food-weight">350 г</div>
          <div class="food-price">430 грн</div>
        </div>
      </div>
      <div class="food-name">Стейк зі свинини</div>
      <div class="flex-main">
        <div class="food-description">
          Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
        </div>
        <div class="flex-two">
          <div class="food-weight">400 г</div>
          <div class="food-price">500 грн</div>
        </div>
      </div>
      <div class="food-name">Горбуша в соусі з білого вина</div>
      <div class="flex-main">
        <div class="food-description">
          Ніжна горбуша, вершковий соус на основі білого вина
        </div>
        <div class="flex-two">
          <div class="food-weight">400 г</div>
          <div class="food-price">500 грн</div>
        </div>
      </div>
      <div class="food-class">Гарніри та закуски</div>
      <div class="food-name">Запечені овочі</div>
      <div class="flex-main">
        <div class="food-description">Кабачок, перець, помідор, баклажан</div>
        <div class="flex-two">
          <div class="food-weight">200 г</div>
          <div class="food-price">300 грн</div>
        </div>
      </div>
      <div class="food-name">Картопля фрі</div>
      <div class="flex-main">
        <div class="food-description">Картопля, соус томатний</div>
        <div class="flex-two">
          <div class="food-weight">150 г</div>
          <div class="food-price">160 грн</div>
        </div>
      </div>
      <div class="food-name">Картопля по-селянськи</div>
      <div class="flex-main">
        <div class="food-description">Картопля, спеції, соус пікантний</div>
        <div class="flex-two">
          <div class="food-weight">150 г</div>
          <div class="food-price">160 грн</div>
        </div>
      </div>
      <div class="food-name">Хрумкі соління з бочки</div>
      <div class="flex-main">
        <div class="food-description">
          Огірок солений, помідор квашений, квашена капуста, морква по-корейські
        </div>
        <div class="flex-two">
          <div class="food-weight">250 г</div>
          <div class="food-price">350 грн</div>
        </div>
      </div>
      <div class="food-name">Крильця курячі в медовому соусі</div>
      <div class="flex-main">
        <div class="food-description">
          Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і
          соусом блючиз
        </div>
        <div class="flex-two">
          <div class="food-weight">400 г</div>
          <div class="food-price">420 грн</div>
        </div>
      </div>
    </div>
    <div class="flex-second-column">
      <div class="food-class">Салати</div>
      <div class="food-name">Цезар з куркою</div>
      <div class="flex-main">
        <div class="food-description">
          Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
          цезар
        </div>
        <div class="flex-two">
          <div class="food-weight">230 г</div>
          <div class="food-price">450 грн</div>
        </div>
      </div>
      <div class="food-name">Цезар з креветками</div>
      <div class="flex-main">
        <div class="food-description">
          Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
          соус цезар
        </div>
        <div class="flex-two">
          <div class="food-weight">230 г</div>
          <div class="food-price">450 грн</div>
        </div>
      </div>
      <div class="food-name">Грецький салат</div>
      <div class="flex-main">
        <div class="food-description">
          Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
          салату, соус
        </div>
        <div class="flex-two">
          <div class="food-weight">230 г</div>
          <div class="food-price">280 грн</div>
        </div>
      </div>
      <div class="food-name">М’ясний салат</div>
      <div class="flex-main">
        <div class="food-description">
          Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
          перець, соус ранч
        </div>
        <div class="flex-two">
          <div class="food-weight">230 г</div>
          <div class="food-price">300 грн</div>
        </div>
      </div>
      <div class="food-class">Десерти</div>
      <div class="flex-desert">
        <div class="food-name">Торт наполеон</div>
        <div class="flex-desert-two">
          <div class="food-weight">230 г</div>
          <div class="food-price">300 грн</div>
        </div>
      </div>
      <div class="flex-desert">
        <div class="food-name">Торт маковий</div>
        <div class="flex-desert-two">
          <div class="food-weight">230 г</div>
          <div class="food-price">300 грн</div>
        </div>
      </div>
      <div class="flex-desert">
        <div class="food-name">Торт наполеон</div>
        <div class="flex-desert-two">
          <div class="food-weight">120 г</div>
          <div class="food-price">260 грн</div>
        </div>
      </div>
      <div class="food-class">Напої</div>
      <div class="flex-desert">
        <div class="food-name">Чай чорний/зелений</div>
        <div class="flex-desert-two">
          <div class="food-weight">500 мл</div>
          <div class="food-price">100 грн</div>
        </div>
      </div>
      <div class="flex-desert">
        <div class="food-name">Еспресо</div>
        <div class="flex-desert-two">
          <div class="food-weight">30 мл</div>
          <div class="food-price">100 грн</div>
        </div>
      </div>
      <div class="flex-desert">
        <div class="food-name">Американо</div>
        <div class="flex-desert-two">
          <div class="food-weight">150 мл</div>
          <div class="food-price">100 грн</div>
        </div>
      </div>
      <div class="flex-desert">
        <div class="food-name">Капучино</div>
        <div class="flex-desert-two">
          <div class="food-weight">200 мл</div>
          <div class="food-price">160 грн</div>
        </div>
      </div>
      <div class="flex-desert">
        <div class="food-name">Лате</div>
        <div class="flex-desert-two">
          <div class="food-weight">200 мл</div>
          <div class="food-price">160 грн</div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="menu-btn">Забронювати столик</button>
</section>
