<section class="menu" id="menu-list">
  <div class="container">
    <h2 class="menu-title">МЕНЮ РЕСТОРАНУ</h2>

    <div class="tables">
      <div class="main-dishes column">
        <table class="menu-section">
          <caption class="menu-chapter">
            Гарячі страви
          </caption>
          <tr>
            <td class="dish-name">
              <span>Борщ з телятини з квасолею</span> <br />
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </td>
            <td class="weigth">400 г</td>
            <td class="price">240 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Суп сирний з куркою</span> <br />
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
            <td class="weigth">400 г</td>
            <td class="price">200 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Паста карбонара</span> <br />
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
            <td class="weigth">400 г</td>
            <td class="price">430 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Стейк зі свинини</span> <br />
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </td>
            <td class="weigth">400 г</td>
            <td class="price">500 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Горбуша в соусі з білого вина</span> <br />
              Ніжна горбуша, вершковий соус на основі білого вина
            </td>
            <td class="weigth">400 г</td>
            <td class="price">400 грн</td>
          </tr>
        </table>

        <table class="menu-section">
          <caption class="menu-chapter">
            Гарніри та закуски
          </caption>
          <tr>
            <td class="dish-name">
              <span>Запечені овочі</span><br />
              Кабачок, перець, помідор, баклажан
            </td>
            <td class="weigth">200 г</td>
            <td class="price">230 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Картопля фрі</span><br />
              Картопля, соус томатний
            </td>
            <td class="weigth">150 г</td>
            <td class="price">160 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Картопля по-селянськи</span><br />
              Картопля, спеції, соус пікантний
            </td>
            <td class="weigth">150 г</td>
            <td class="price">160 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Хрумкі соління з бочки</span><br />
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>
            <td class="weigth">250 г</td>
            <td class="price">350 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Крильця курячі в медовому соусі</span><br />
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </td>
            <td class="weigth">400 г</td>
            <td class="price">420 грн</td>
          </tr>
        </table>
      </div>

      <div class="secondary-dishes column">
        <table class="menu-section">
          <caption class="menu-chapter">
            Салати
          </caption>
          <tr>
            <td class="dish-name">
              <span>Цезар з куркою</span> <br />Куряче філе, листя салату,
              помідори чері, сир пармезан, грінки, соус цезар
            </td>
            <td class="weigth">230 г</td>
            <td class="price">450 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Цезар з креветками</span><br />Тигрові креветки, листя
              салату, помідори чері, сир пармезан, грінки, соус цезар
            </td>
            <td class="weigth">230 г</td>
            <td class="price">300 грн</td>
          </tr>
          <tr>
            <td class="dish-name">
              <span>Грецький салат</span><br />Свіжі огірок, помідор,
              болгарський перець, оливки, сир бринза, листя салату, соус
            </td>
            <td class="weigth">230 г</td>
            <td class="price">280 грн</td>
          </tr>

          <tr>
            <td class="dish-name">
              <span>М’ясний салат</span><br />Куряче філе або свиняча вирізка,
              свіжі огірок, помідор, болгарський перець, соус ранч
            </td>
            <td class="weigth">230 г</td>
            <td class="price">300 грн</td>
          </tr>
        </table>

        <table class="menu-section">
          <caption class="menu-chapter">
            Десерти
          </caption>
          <tr>
            <td class="dish-name"><span>Торт наполеон</span></td>
            <td class="weigth">230 г</td>
            <td class="price">300 грн</td>
          </tr>
          <tr>
            <td class="dish-name"><span>Торт маковий</span></td>
            <td class="weigth">230 г</td>
            <td class="price">300 грн</td>
          </tr>
          <tr>
            <td class="dish-name"><span>Тірамісу</span></td>
            <td class="weigth">120 г</td>
            <td class="price">260 грн</td>
          </tr>
        </table>

        <table class="menu-section">
          <caption class="menu-chapter">
            Напої
          </caption>
          <tr>
            <td class="dish-name"><span>Чай чорний/зелений</span></td>
            <td class="weigth">500 мл</td>
            <td class="price">100 грн</td>
          </tr>
          <tr>
            <td class="dish-name"><span>Еспресо</span></td>
            <td class="weigth">30 мл</td>
            <td class="price">100 грн</td>
          </tr>
          <tr>
            <td class="dish-name"><span>Американо</span></td>
            <td class="weigth">150 мл</td>
            <td class="price">100 грн</td>
          </tr>
          <tr>
            <td class="dish-name"><span>Капучино</span></td>
            <td class="weigth">200 мл</td>
            <td class="price">160 грн</td>
          </tr>
          <tr>
            <td class="dish-name"><span>Лате</span></td>
            <td class="weigth">200 мл</td>
            <td class="price">160 грн</td>
          </tr>
        </table>
      </div>
    </div>

    <button
      class="menu-btn open_modal"
      data-modal-id="#modal_table"
      type="button"
    >
      Забронювати столик
    </button>
  </div>
</section>
