/* MOBILE */

.about-hotel {
  background-color: var(--modal-bgc);
}

.about-hotel-pre-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: right;
  margin-top: 18px;
  margin-bottom: 6px;
  color: #b4b4b4;
}

.about-title {
  font-family: 'Film P3', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-align: right;
  margin-bottom: 16px;
  color: var(--secondary-title-color);
}

.about-hotel-list {
  margin-bottom: 32px;
}

.about-hotel-item:first-child {
  margin-bottom: 32px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about-hotel-text-1,
.about-hotel-text-2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--primary-text-color);
}
.about-hotel-text-1 {
  width: 242px;
  margin-left: auto;
  margin-bottom: 28px;
}

.pictures-hotel {
  max-width: 244px;
}

.pictures-hotel,
.pictures-hotel-position {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel-text-2 {
  width: 163px;
  margin-right: 21px;
  color: #c79002;
}

@media screen and (min-width: 414px) {
}

/* TABLET */

@media screen and (min-width: 1024px) {
  .about-hotel-pre-title {
    font-size: 20px;
    margin-top: 120px;
    margin-bottom: 4px;
  }

  .about-title {
    font-size: 64px;
    margin-bottom: 24px;
  }

  .about-hotel-item:first-child {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
  }

  .about-hotel-text-1 {
    width: 419px;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-left: 46px;
    margin-bottom: 142px;
  }
  .pictures-hotel {
    position: relative;
    top: -24px;
    right: 465px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  .about-hotel-text-2 {
    width: 312px;
    font-size: 16px;
    margin-right: 48px;
  }
  .pictures-hotel-position {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .about-hotel-text-1 {
    width: 488px;
    margin-bottom: 162px;
    margin-left: 67px;
  }

  .pictures-hotel {
    right: 640px;
  }
  .about-hotel-text-2 {
    margin-right: 45px;
  }
}
