.dh-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../../img/details-hotel/dh-bg-mobile.jpg);
  width: 414px;
  height: 735px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;

  padding-top: 24px;
  padding-bottom: 40px;
  /* position: relative; */
}

.dh-logo {
  font-family: 'FilmP3Bold', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--white);
  margin-bottom: 12px;
}

.dh-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 20px;
}
.dh-title-text {
  text-align: right;
  /* display: flex;
  flex-direction: column;
  align-items: end; */
}
.dh-text {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #bababa;
}
.dh-text-wrapper {
  max-width: 243px;
  margin-left: 17px;
  margin-bottom: 390px;
}
/* .dh-button-wrap {
  margin-left: auto;
  margin-right: auto; }*/

.dh-button,
.dh-link {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--accent-color);

  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 14px 32px;
  width: 236px;

  margin-left: auto;
  margin-right: auto;
}
.dh-button {
  margin-bottom: 16px;
}

.dh-button:hover,
.dh-button:focus,
.dh-link:hover,
.dh-link:focus {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  color: var(--black);
}

.dh-button:active,
.dh-link:active {
  background: #ffffff;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

/* 1024px+ */
@media screen and (min-width: 1024px) {
  .dh-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-hotel/dh-bg-tablet.jpg);
    width: 1024px;
    height: 620px;
    padding-top: 50px;
  }

  .dh-logo {
    font-size: 64px;
    line-height: 1.078;
  }
  .dh-title {
    font-size: 24px;
    line-height: 1.2;
  }
  .dh-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .dh-text-wrapper {
    max-width: 535px;
    margin-left: 170px;
    margin-bottom: 200px;
  }
  .dh-button,
  .dh-link {
    margin-right: 10px;
    margin-left: auto;
  }
}

/* 1280px+ */
@media screen and (min-width: 1280px) {
  .dh-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-hotel/dh-bg-desktop.jpg);
    width: 1280px;
  }
  .dh-text-wrapper {
    max-width: 584px;
    margin-left: 285px;
    margin-bottom: 200px;
  }
}

/* 2x 1024px - 1279px */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px) and (max-width: 1279px),
  screen and (min-resolution: 192dpi) and (min-width: 1024px) and (max-width: 1279px),
  screen and (min-resolution: 2dppx) and (min-width: 1024px) and (max-width: 1279px) {
  .dh-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-hotel/ah-bg-tablet@2x.jpg);
  }
}

/* 2x 0 - 1023px */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1023px),
  screen and (min-resolution: 192dpi) and (max-width: 1023px),
  screen and (min-resolution: 2dppx) and (max-width: 1023px) {
  .dh-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-hotel/dh-bg-mobile@2x.jpg);
  }
}

/* 2x 1280px + */

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .dh-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/details-hotel/dh-bg-desktop@2x.jpg);
  }
}

/* 





.dh-content-block-wrapper {
}
.dh-services-image-list {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}
.dh-first-image {
  width: 274px;
  height: 270px;
}
.dh-second-image {
  display: none;
}
.dh-third-image {
  display: none;
}

.dh-buttons-block {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
} */

/* @media screen and (min-width: 1024px) and (max-width: 1279px) {
  .dh-section {
    padding-top: 48px;
    padding-bottom: 96px;
  }
  .dh-text-wrapper {
    max-width: 549px;
    margin-left: 182px;
  }
  .dh-logo {
    font-family: 'FilmP3Bold', sans-serif;
    font-size: 64px;
  }
  .dh-title {
    font-size: 24px;
  }
  .dh-text {
    font-size: 16px;
  }
  .dh-content-block-wrapper {
    display: flex;
  }
  .dh-first-image {
    width: 270px;
    height: 270px;
  }
  .dh-second-image {
    display: flex;
    width: 162px;
    height: 270px;
  }
  .dh-third-image {
    display: flex;
    width: 162px;
    height: 270px;
  }
  .dh-services-image-list {
    display: flex;
    flex-direction: row-reverse;
    gap: 34px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .dh-buttons-block {
    padding-top: 0;
    justify-content: flex-end;
  }
  .dh-button {
    padding: 14px 26px;
  }
} */
