
.hero-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
  .hero-main {
    background-image: linear-gradient(rgb(0, 0, 0, 0.65), rgb(0, 0, 0, 0.65)),
    url("../../img/main-hero img/mobile\ background\ main\ hero.jpg");
    background-repeat: round;
    background-position: top;
    padding-top: 62px;
    padding-bottom: 20px;
    max-width: 1280px;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-main{
        background-image: linear-gradient(rgb(0, 0, 0, 0.65), rgb(0, 0, 0, 0.65)),
    url("../../img/main-hero img/mobile\ background\ main\ hero\ x2.jpg");
    }
  }
  .adress-hotel {
    position: relative;
    width: 210px;
    padding: 8px 3px 8px 34px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    font-family: "MontserratRegular";
    line-height: 1.25;
    letter-spacing: 0.01em;
    margin: auto;
    margin-bottom: 70px;
    margin-right: 0;
    color: #e5e5e5;
  }
  .icon-svg-location {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    height: 20px;
    width: 20px;
    fill: var(--secondary-text-color);
  }
  .hotel-location {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #e5e5e5;
  }

  .info-hotel {
    text-align: center;
  }
  .hero-title {
    max-width: 325px;
    margin-right: auto;
    margin-right: auto;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    margin-bottom: 24px;
    color: #ffffff;
  }
  .hero-main-title {
    font-family: 'Montserrat';
    width: 294px;
    height: 20px;
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
    margin: auto;
    margin-bottom: 40px;
  }
  .hero-main-big {
    font-family: 'Times New Roman';
    width: 317px;
    height: 37px;
    font-family: inherit;
    font-size: 32px;
    line-height: 1.15;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin: auto;
    margin-bottom: 113px;
  }
  .dislocation{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn:last-child {
    width: 232px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;    
    margin-top: 24px;
    color: #F3C653;
  }
  .btn{
    width: 232px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;    
    color: #F3C653;
  }
  .btn:hover{
    background-color: #FFFFFF;
    border: 2px solid #F3C653;
  }
  .btn:focus{
    background-color: #FFFFFF;
    border: 2px solid #F3C653;
  }

  .hero-social-main {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 58px;
  }
  .icon {
    height: 20px;
    width: 20px;
    fill: rgba(243, 198, 83, 0.7);
  }


@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}
