.menu-btn {
  width: 236px;
  height: 48px;
  background: #000000;
  border: 2px solid #fffdee;
  border-radius: 25px;
  color: #f3c653;
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.02em;
}
.container-menu {
  padding: 32px 15px;
}

.menu-restoran {
  min-width: fit-content;
  background-color: #f0ecd6;
}
.menu-main-title {
  width: 323px;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  color: #000000;
  padding-bottom: 32px;
}
.food-class {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
}
.food-name {
  width: 221px;
  height: 100%;
  font-family: 'Montserrat-semibold';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  /* padding-top: 16px;
  padding-bottom: 4px; */
  /* margin-bottom: 4px; */
  margin-top: 8px;
}
.food-description {
  width: 225px;
  font-family: 'Montserrat-regular';
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  /* margin-bottom: 8px; */
}
.flex-first-column {
  display: flex;
  flex-direction: column;
}
.flex-second-column {
  display: flex;
  flex-direction: column;
}
.flex-two {
  display: flex;
  gap: 20px;
  margin-top: -10px;
  margin-left: 33px;
}
.flex-main {
  display: flex;
}
.food-weight {
  width: 52px;
  height: 17px;
  right: 107px;
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 8px;
}
.food-price {
  width: 61px;
  height: 17px;
  left: 339px;
  top: 2086px;
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 8px;
}

/* -------------------DESERT------------------ */
.flex-desert-two {
  display: flex;
  gap: 20px;
  margin-left: 35px;
}
.flex-desert {
  display: flex;
  /* width: 220px; */
  height: 100%;
}
/* -------------------MEDIA-------------- */
@media screen and (min-width: 1024px) {
  .flex-wrap {
    display: flex;
    gap: 88px;
    justify-content: center;
    /* justify-content: space-evenly; */
  }
  .container-menu {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 58px;
    padding-bottom: 40px;
  }
  .menu-btn {
    margin: unset;
    margin-left: auto;
    margin-top: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .flex-wrap {
    display: flex;
    gap: 140px;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
  }
  .container-menu {
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 58px;
    padding-bottom: 60px;
  }
  .menu-btn {
    margin: unset;
    margin-left: auto;
    margin-top: 48px;
  }
}
