<section calss="amenities">
  <h2 class="amenities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
  <p class="amenities-txt">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="amenities-list">
    <li class="amenities-item">
      <h3 class="amenities-subtitele">ЗАГАЛЬНІ</h3>
      <p class="amenities-txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <p class="amenities-txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </li>
    <li class="amenities-item">
      <h3 class="amenities-subtitele">ВАННА КІМНАТА</h3>
      <p class="amenities-txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <p class="amenities-txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </li>
    <li class="amenities-item">
      <h3 class="amenities-subtitele">СПАЛЬНЯ</h3>
      <p class="amenities-txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </li>
    <li class="amenities-item">
      <h3 class="amenities-subtitele">КУХНЯ</h3>
      <p class="amenities-txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
      <p class="amenities-txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </li>
    <li class="amenities-item">
      <h3 class="amenities-subtitele">МЕДІА</h3>
      <p class="amenities-txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </li>
  </ul>
  <button type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
  <a href="../hotel.html">Повернутися до перегляду номерів</a>
</section>
