<!-- AMENITIES -->
<section>
  <div class="container amenities">
    <h2 class="amenities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities-txt-main">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-list">
      <li class="amenities-item">
        <h3 class="amenities-subtitele">ЗАГАЛЬНІ</h3>
        <div class="amenities-txt-wrap">
          <p class="amenities-txt">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-txt">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-subtitele">ВАННА КІМНАТА</h3>
        <div class="amenities-txt-wrap">
          <p class="amenities-txt">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-txt">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-subtitele">СПАЛЬНЯ</h3>
        <p class="amenities-txt">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-subtitele">КУХНЯ</h3>
        <div class="amenities-txt-wrap">
          <p class="amenities-txt">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities-txt">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-subtitele">МЕДІА</h3>
        <p class="amenities-txt">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>

    <!-- Book Room Modal window -->
    <button class="amenities-btn" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

    <a class="amenities-link" href="../../hotel.html"
      >Повернутися до перегляду номерів
      <svg height="24" width="24" class="amenities-icon-arrow">
        <use xlink:href="../../img/icons.svg#icon-arrow-link"></use>
      </svg>
    </a>
  </div>
</section>
