<section class="room-hero slider">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper slidera">
      <!-- Slides -->
      <div class="swiper-slide aa">
        <address class="room-adress">
          <a
            class="room-adress-link"
            href="https://goo.gl/maps/gsLoxivQWbPbsx788"
            target="_blank"
            title="Ресторанно-готельний комплекс"
          >
            <svg width="20" height="20" class="room-icon">
              <use href="./img/hero-main/symbol-defs.svg#icon-location"></use>
            </svg>
            <span class="hotel-location">
              Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15
            </span>
          </a>
        </address>
        <h1 class="room-title swiper-title" data-swiper-parallax="-400">
          ДВОМІСНИЙ НОМЕР люкс
        </h1>
        <p class="room-text swiper-text" data-swiper-parallax="-300">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <!-- SOCIAL -->
        <ul class="room-soc-list">
          <li class="room-soc-item">
            <a target="_blank" href="https://www.instagram.com/">
              <svg width="24" height="24" class="room-icon">
                <use href="./img/icons.svg#icon-intagram"></use>
              </svg>
            </a>
          </li>
          <li class="room-soc-item">
            <a target="_blank" href="https://www.facebook.com/">
              <svg width="24" height="24" class="room-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="room-soc-item">
            <a target="_blank" href="https://t.me/c/1135908310/588">
              <svg width="24" height="24" class="room-icon">
                <use href="./img/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- Room Price Modal window -->
        <button
          class="room-btn open_modal"
          type="button"
          data-modal-id="#modal_price"
          data-swiper-parallax="-200"
        >
          Переглянути ціни
        </button>
      </div>

      <div class="swiper-slide ab">
        <address class="room-adress">
          <a
            class="room-adress-link"
            href="https://goo.gl/maps/gsLoxivQWbPbsx788"
            target="_blank"
            title="Ресторанно-готельний комплекс"
          >
            <svg width="20" height="20" class="room-icon">
              <use href="./img/hero-main/symbol-defs.svg#icon-location"></use>
            </svg>
            <span class="hotel-location">
              Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15
            </span>
          </a>
        </address>
        <h1 class="room-title swiper-title" data-swiper-parallax="-400">
          ДВОМІСНИЙ НОМЕР люкс
        </h1>
        <p class="room-text swiper-text" data-swiper-parallax="-300">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <!-- SOCIAL -->
        <ul class="room-soc-list">
          <li class="room-soc-item">
            <a target="_blank" href="https://www.instagram.com/">
              <svg width="24" height="24" class="room-icon">
                <use
                  href="./img/hero-main/symbol-defs.svg#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="room-soc-item">
            <a target="_blank" href="https://www.facebook.com/">
              <svg width="24" height="24" class="room-icon">
                <use href="./img/hero-main/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="room-soc-item">
            <a target="_blank" href="https://t.me/c/1135908310/588">
              <svg width="24" height="24" class="room-icon">
                <use href="./img/hero-main/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- Room Price Modal window -->
        <button
          class="room-btn open_modal"
          type="button"
          data-modal-id="#modal_price"
          data-swiper-parallax="-200"
        >
          Переглянути ціни
        </button>
      </div>

      <div class="swiper-slide ac">
        <address class="room-adress">
          <a
            class="room-adress-link"
            href="https://goo.gl/maps/gsLoxivQWbPbsx788"
            target="_blank"
            title="Ресторанно-готельний комплекс"
          >
            <svg width="20" height="20" class="room-icon">
              <use href="./img/hero-main/symbol-defs.svg#icon-location"></use>
            </svg>
            <span class="hotel-location">
              Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15
            </span>
          </a>
        </address>
        <h1 class="room-title swiper-title" data-swiper-parallax="-400">
          ДВОМІСНИЙ НОМЕР люкс
        </h1>
        <p class="room-text swiper-text" data-swiper-parallax="-300">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <!-- SOCIAL -->
        <ul class="room-soc-list">
          <li class="room-soc-item">
            <a target="_blank" href="https://www.instagram.com/">
              <svg width="24" height="24" class="room-icon">
                <use
                  href="./img/hero-main/symbol-defs.svg#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="room-soc-item">
            <a target="_blank" href="https://www.facebook.com/">
              <svg width="24" height="24" class="room-icon">
                <use href="./img/hero-main/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="room-soc-item">
            <a target="_blank" href="https://t.me/c/1135908310/588">
              <svg width="24" height="24" class="room-icon">
                <use href="./img/hero-main/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- Room Price Modal window -->
        <button
          class="room-btn open_modal"
          type="button"
          data-modal-id="#modal_price"
          data-swiper-parallax="-200"
        >
          Переглянути ціни
        </button>
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
