<div id="modal_price" class="modal">
  <div class="modal_container">
    <button class="modal_close" type="button">
      <svg class="icon" width="24" height="24">
        <use href="../../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal_title">ЦІНИ НА НОМЕР</h3>
    <p class="modal_room_types">Двомісний люкс</p>
    <p class="modal_room_categoty">Категорія номеру</p>
    <form class="room_price_modal">
      <div class="form_group">
        <input
          class="modal_input"
          type="c_number"
          name="c_number"
          id="c_number"
          placeholder="1"
        />
        <label class="modal_label" for="c_number">Категорія номеру</label>
      </div>
      <div class="form_group">
        <input
          class="modal_input"
          id="price"
          type="text"
          name="price"
          placeholder="100"
        />
        <label class="modal_label" for="price">Кількість ночей</label>
      </div>
      <button class="modal_btn" type="submit">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>
  </div>
</div>
