<section class="hero">
<div class="container">
    <address>
        <svg>
            <use href=""></use>
        </svg>
        Україна, м. Полтава,<br>
        вул. Маршала Бірюзова, 15
    </address>
    <div>
        <h1>MIMIHO</h1>
        <h2>Ресторанно-готельний комплекс</h2>
        <p>СМАК ЖИТТЯ 24/7</p>
        <button type="button">Забронювати столик</button>
        <button type="button">Забронювати номер</button>
    </div>
    <ul>
        <li>
            <a href="#">
                <svg>
                    <use href=""></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg>
                    <use href=""></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg >
                    <use href=""></use>
                </svg>
            </a>
        </li>
    </ul>
    </div>
</section>