<section class="luxe">
  <div class="luxe-container">
    <!-- Ці додаткові діви на Mobile не потрібні, але на Tablet та Desktop так буже зручніше (потім можливі зміни) -->
    <div class="luxe-top">
      <div class="luxe-wrapper">
        <h3 class="luxe-pretitle">Amet minim mollit non</h3>
        <h3 class="luxe-subtitle">Mimino</h3>
        <h2 class="luxe-title">ДВОМІСНИЙ НОМЕР <span>люкс</span></h2>
        <p class="luxe-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hotel/room-desktop-1x.jpg,
            ./img/hotel/room-desktop-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/hotel/room-tablet-1x.jpg,
            ./img/hotel/room-tablet-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/hotel/room-mobile-1x.jpg,
            ./img/hotel/room-mobile-2x.jpg 2x
          "
        />
        <img src="./img/hotel/room-mobile-1x.jpg" alt="" />
      </picture>
    </div>
    <div class="luxe-bottom">
      <!-- Майбутній Slider -->
    </div>
  </div>
  <div class="container luxe_slider">
    <div class="carousel_wrapper right">
      <ul class="carousel carousel_right" id="kitchen_page_slider">
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/kitchen/kitchen-slider-1-desktop-1x.jpg,
                ./img/kitchen/kitchen-slider-1-desktop-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./img/kitchen/kitchen-slider-1-tablet-1x.jpg,
                ./img/kitchen/kitchen-slider-1-tablet-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/kitchen/kitchen-slider-1-mobile-1x.jpg,
                ./img/kitchen/kitchen-slider-1-mobile-2x.jpg 2x
              "
            />
            <img
              src="../../img/kitchen/kitchen-slider-1-mobile-1x.jpg"
              alt=""
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/kitchen/kitchen-slider-2-desktop-1x.jpg,
                ./img/kitchen/kitchen-slider-2-desktop-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./img/kitchen/kitchen-slider-2-tablet-1x.jpg,
                ./img/kitchen/kitchen-slider-2-tablet-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/kitchen/kitchen-slider-2-mobile-1x.jpg,
                ./img/kitchen/kitchen-slider-2-mobile-2x.jpg 2x
              "
            />
            <img
              src="../../img/kitchen/kitchen-slider-2-mobile-1x.jpg"
              alt=""
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/kitchen/kitchen-slider-1-desktop-1x.jpg,
                ./img/kitchen/kitchen-slider-1-desktop-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./img/kitchen/kitchen-slider-1-tablet-1x.jpg,
                ./img/kitchen/kitchen-slider-1-tablet-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/kitchen/kitchen-slider-1-mobile-1x.jpg,
                ./img/kitchen/kitchen-slider-1-mobile-2x.jpg 2x
              "
            />
            <img
              src="../../img/kitchen/kitchen-slider-1-mobile-1x.jpg"
              alt=""
            />
          </picture>
        </li>
      </ul>
      <div class="paginator_right" id="slider_3">
        <ul class="carousel_right_arrow carousel_arrow">
          <li class="prev">
            <svg class="icon" height="32" width="32">
              <use href="./img/icons.svg#icon-arrow_left"></use>
            </svg>
          </li>
          <li class="next">
            <svg class="icon" height="32" width="32">
              <use href="./img/icons.svg#icon-arrow_right"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="luxe-btns">
      <!-- Перша кнопка повинна бути посиланням за ТЗ -->
      <a href="./room.html" class="luxe-btn">Детальніше</a>

      <!-- ROOM PRICE MODAL -->
      <button
        type="button"
        class="luxe-btn open_modal"
        data-modal-id="#modal_price"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
