<section class="luxe">
  <div class="luxe-container">
    <!-- Ці додаткові діви на Mobile не потрібні, але на Tablet та Desktop так буже зручніше (потім можливі зміни) -->
    <div class="luxe-top">
      <div class="luxe-wrapper">
        <h3 class="luxe-pretitle">Amet minim mollit non</h3>
        <h3 class="luxe-subtitle">Mimino</h3>
        <h2 class="luxe-title">ДВОМІСНИЙ НОМЕР <span>люкс</span></h2>
        <p class="luxe-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/hotel/luxe/luxe-01-desktop.jpg"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/hotel/luxe/luxe-01-tablet.jpg"
          media="(min-width: 1024px)"
        />
        <source
          srcset="./img/hotel/luxe/luxe-01-mobile.jpg"
          media="(max-width: 1023px)"
        />
        <img
          src="./img/hotel/room-for-2/double-01-desktop.jpg"
          alt="hotel room interier"
        />
      </picture>
    </div>
    <div class="luxe-bottom">
      <!-- Майбутній Slider -->
      <div class="luxe-swiper">swiper</div>
      <div class="luxe-btns">
        <!-- Перша кнопка повинна бути посиланням за ТЗ -->
        <a href="./room.html" class="luxe-btn">Детальніше</a>

        <!-- ROOM PRICE MODAL -->
        <button type="button" class="luxe-btn">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
