<!-- Triple - трьохмісний -->
<section class="triple">
  <div class="triple-container">
    <!-- Ці додаткові діви на Mobile не потрібні, але на Tablet та Desktop так буже зручніше (потім можливі зміни) -->
    <div class="triple-top">
      <div class="triple-wrapper">
        <h3 class="triple-pretitle">Amet minim mollit non</h3>
        <h3 class="triple-subtitle">Mimino</h3>
        <h2 class="triple-title">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="triple-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img src="" alt="" />
    </div>
    <div class="triple-bottom">
      <!-- Майбутній Slider -->
      <!-- <div class="swiper"></div> -->
      <div class="triple-btns">
        <!-- Перша кнопка повинна бути посиланням за ТЗ -->
        <a href="" class="triple-btn">Детальніше</a>
        <button type="button" class="triple-btn">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
