<!-- Double - двохмісний -->
<section class="double">
  <div class="double-container container">
    <!-- Ці додаткові діви на Mobile не потрібні, але на Tablet та Desktop так буже зручніше (потім можливі зміни) -->
    <div class="double-top">
      <div class="double-wrapper">
        <h3 class="double-pretitle">Amet minim mollit non</h3>
        <h3 class="double-subtitle">Mimino</h3>
        <h2 class="double-title">ДВОМІСНИЙ НОМЕР</h2>
        <p class="double-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="../../img/hotel/room-for-2/double-01-desktop.jpg"
          media="(min-width: 1280px)"
        />
        <source
          srcset="../../img/hotel/room-for-2/double-01-tablet.jpg"
          media="(min-width: 1024px)"
        />
        <source
          srcset="../../img/hotel/room-for-2/double-01-mobile.jpg"
          media="(max-width: 1023px)"
        />
        <img src="../../img/hotel/room-for-2/double-01-desktop.jpg" alt="" />
      </picture>
    </div>

    <div class="double-bottom">
      <!-- Майбутній Slider -->
      <div class="double-swiper"></div>
      <div class="double-btns">
        <!-- Перша кнопка повинна бути посиланням за ТЗ -->
        <a href="../../room.html" class="double-btn">Детальніше</a>
        <button type="button" class="double-btn">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
