<section class="footer">
  <a class="footer-logo" href="../index.html">МІМІНО</a>

  <ul class="footer-nav-list">
    <li><a class="footer-nav-link" href="../index.html">Головна</a></li>
    <li><a class="footer-nav-link" href="../restaurant.html">Ресторан</a></li>
    <li><a class="footer-nav-link" href="../hotel.html">Готель</a></li>
  </ul>

  <ul class="footer-contacts-list">
    <li>
      <a class="footer-contacts-link" href="https://web.telegram.org/"
        >Telegram</a
      >
      <svg class="footer-contacts-icon">
        <use href="../img/icons.svg#icon-telegram"></use>
      </svg>
    </li>

    <li>
      <a class="footer-contacts-link" href="https://www.facebook.com/"
        >Facebook</a
      >
      <svg class="footer-contacts-icon">
        <use href="../img/icons.svg#icon-facebook"></use>
      </svg>
    </li>

    <li>
      <a class="footer-contacts-link" href="https://www.instagram.com/"
        >Instagram</a
      >
      <svg class="footer-contacts-icon">
        <use href="../img/icons.svg#icon-intagram"></use>
      </svg>
    </li>
  </ul>
</section>
