<div class="footer-background">
  <div class="footer">
    <div class="footer-logo-wrapper">
      <a class="footer-logo" href="../index.html">MIMIHO</a>
    </div>

    <div class="footer-wrapper">
      <ul class="footer-nav-list">
        <li><a class="footer-nav-link" href="../index.html">Головна</a></li>
        <li>
          <a class="footer-nav-link" href="../restaurant.html">Ресторан</a>
        </li>
        <li><a class="footer-nav-link" href="../hotel.html">Готель</a></li>
      </ul>

      <ul class="footer-contacts-list">
        <li>
          <a
            class="footer-contacts-link"
            href="https://web.telegram.org/"
            target="_blank"
          >
            <span class="footer-contacts-link-text">Telegram</span>
            <svg class="footer-contacts-icon">
              <use href="../img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            class="footer-contacts-link"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <span class="footer-contacts-link-text">Facebook</span>
            <svg class="footer-contacts-icon">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            class="footer-contacts-link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <span class="footer-contacts-link-text">Instagram</span>
            <svg class="footer-contacts-icon">
              <use href="../img/icons.svg#icon-intagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
