<header class="header">
  <div class="header-container">
    <a class="header-logo" href="./index.html">MIMIHO</a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="restaurant-link" href="../restaurant.html">Ресторан</a>

          <a class="tel-link" href="tel:+380955559533">
            <svg class="nav-icon">
              <use href="../img/icons.svg#icon-phone"></use>
            </svg>
            <p class="nav-tel">095 555 95 33</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="hotel-link" href="../hotel.html">Готель</a>

          <a class="tel-link" href="tel:+380668491089">
            <svg class="nav-icon">
              <use href="../img/icons.svg#icon-phone"></use>
            </svg>
            <p class="nav-tel">066 849 10 89</p>
          </a>
        </li>
      </ul>
    </nav>

    <div class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <svg class="contacts-icon">
            <use href="../img/icons.svg#icon-intagram"></use>
          </svg>
        </li>

        <li class="contacts-item">
          <svg class="contacts-icon">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </li>

        <li class="contacts-item">
          <svg class="contacts-icon">
            <use href="../img/icons.svg#icon-telegram"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</header>
