<section class="header">
  <div class="header-container">
    <a class="header-logo" href="../index.html">МІМІНО</a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="item">
          <a href="../restaurant.html">Ресторан</a>

          <a href="tel:+380955559533">
            <svg class="icon">
              <use></use>
            </svg>
            <p class="paragraph">095 555 95 33</p>
          </a>
        </li>

        <li class="item">
          <a href="../hotel.html">Готель</a>

          <a href="tel:+380668491089">
            <svg class="icon">
              <use></use>
            </svg>
            <p class="paragraph">066 849 10 89</p>
          </a>
        </li>
      </ul>
    </nav>

    <div class="contacts">
      <ul class="contacts-list">
        <li class="item">
          <svg class="icon">
            <use></use>
          </svg>
        </li>

        <li class="item">
          <svg class="icon">
            <use></use>
          </svg>
        </li>

        <li class="item">
          <svg class="icon">
            <use></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
