<section class="header">
  <div class="header-container">
    <a class="header-logo" href="../index.html">МІМІНО</a>

    <nav>
      <ul>
        <li>
          <a href="">Ресторан</a>

          <a href="">
            <svg>
              <use></use>
            </svg>
            <p>095 555 95 33</p>
          </a>
        </li>

        <li>
          <a href="">Готель</a>

          <a href="">
            <svg>
              <use></use>
            </svg>
            <p>066 849 10 89</p>
          </a>
        </li>
      </ul>
    </nav>

    <div class="contacts">
      <ul>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>

        <li>
          <svg>
            <use></use>
          </svg>
        </li>

        <li>
          <svg>
            <use></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
