/* SLIDER */
.room-hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.slidera .swiper-slide {
  padding-top: 65px;
  padding-bottom: 40px;
  max-width: 1280px;
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-slide.aa {
  background-image: url(../../img/room/room1mobile.jpg);
}
.swiper-slide.ab {
  background-image: url(../../img/room/room2mobile.jpg);
}

.swiper-slide.ac {
  background-image: url(../../img/room/room3mobile.jpg);
}

.room-hero .swiper {
  max-width: 414px;
  height: 100%;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.room-title {
  max-width: 325px;
  margin-top: 315px;

  margin-right: auto;
  margin-right: auto;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
}

.room-text {
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  max-width: 325px;
  margin-top: 14px;
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-left: 35px;
  left: -21px;
}

.swiper-button-prev::after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../../img/room/swiper-arrow-left.svg);
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-right: 35px;
  right: -21px;
}

.swiper-button-next::after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../../img/room/swiper-arrow-right.svg);
}

.room-adress {
  position: absolute;

  width: 210px;
  display: block;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  font-size: 12px;
  font-family: 'MontserratRegular', sans-serif;
  line-height: 1.25;
  letter-spacing: 0.01em;
  margin: auto;
  margin-bottom: 70px;
  margin-right: 0;
  color: #e5e5e5;
  padding: 10px 5px;
  margin-left: auto;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.room-adress-link {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.room-icon {
  fill: var(--accent-color);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.room-icon:hover,
.room-icon:focus {
  fill: var(--primary-title-color);
}

.room-btn {
  background: rgba(0, 0, 0, 0.4);

  border: 2px solid #fff;
  border-radius: 25px;
  padding: 14px 35px;
  color: var(--accent-color);
  margin-top: 30px;
  margin-left: 109px;
  transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.room-btn:hover,
.room-btn:focus,
.room-btn:active {
  background-color: #fff;
  border: 2px solid var(--accent-color);
}

/* 0 - 1023px */
@media screen and (max-width: 1023px) {
  .room-adress {
    top: 63px;
    right: 20px;
  }
  .room-soc-list {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }
}
/* 1024px+ */
@media screen and (min-width: 1024px) {
  .room-title {
    font-size: 36px;
    line-height: 1.138;
    letter-spacing: 0.05em;
    max-width: 507px;
  }
  .room-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    max-width: 400px;
  }
  .room-adress-link {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
}

/* 1024px - 1279px */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .swiper-slide.aa {
    background-image: url(../../img/room/room1tablet.jpg);
  }
  .swiper-slide.ab {
    background-image: url(../../img/room/room2tablet.jpg);
  }

  .swiper-slide.ac {
    background-image: url(../../img/room/room3tablet.jpg);
  }
  .slider .swiper {
    max-width: 1024px;
  }
  .slidera .swiper-slide {
    padding-left: 50px;
    padding-right: 50px;
  }
  .swiper-button-next {
    right: 13px;
  }
  .swiper-button-prev {
    left: 13px;
  }
  .room-btn {
    margin-top: 0;
    margin-left: 700px;
  }
  .room-title {
    max-width: 512px;
    margin-top: 400px;
  }
  .room-text {
    max-width: 339px;
  }
  .room-adress {
    left: 50px;
    bottom: -50px;
    min-width: 282px;
  }

  .room-soc-list {
    display: flex;
    flex-wrap: wrap;
    left: 360px;
    bottom: 33px;
    position: absolute;
    gap: 22px;
  }
}

/* 1280px+ */
@media screen and (min-width: 1280px) {
  .swiper-slide.aa {
    background-image: url(../../img/room/room1desktop.jpg);
  }
  .swiper-slide.ab {
    background-image: url(../../img/room/room2desktop.jpg);
  }

  .swiper-slide.ac {
    background-image: url(../../img/room/room3desktop.jpg);
  }
  .slider .swiper {
    max-width: 1280px;
  }
  .slidera .swiper-slide {
    padding-left: 85px;
    padding-right: 85px;
  }
  .swiper-button-next {
    right: 50px;
    top: 60%;
  }
  .swiper-button-prev {
    left: 50px;
    top: 60%;
  }
  .room-title {
    margin-top: 430px;
  }

  .room-btn {
    position: absolute;
    top: 79%;
    right: 7%;
  }
  .room-adress {
    display: none;
  }

  .room-soc-list {
    display: none;
  }
}

/* 2x 1024px - 1279px */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px) and (max-width: 1279px),
  screen and (min-resolution: 192dpi) and (min-width: 1024px) and (max-width: 1279px),
  screen and (min-resolution: 2dppx) and (min-width: 1024px) and (max-width: 1279px) {
  .swiper-slide.aa {
    background-image: url(/img/room/room1tablet@2x.jpg);
  }
  .swiper-slide.ab {
    background-image: url(/img/room/room2tablet@2x.jpg);
  }

  .swiper-slide.ac {
    background-image: url(/img/room/room3tablet@2x.jpg);
  }
}

/* 2x 0 - 1023px */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1023px),
  screen and (min-resolution: 192dpi) and (max-width: 1023px),
  screen and (min-resolution: 2dppx) and (max-width: 1023px) {
  .swiper-slide.aa {
    background-image: url(/img/room/room1mobile@2x.jpg);
  }
  .swiper-slide.ab {
    background-image: url(/img/room/room2mobile@2x.jpg);
  }

  .swiper-slide.ac {
    background-image: url(/img/room/room3mobile@2x.jpg);
  }
}

/* 2x 1280px + */

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .swiper-slide.aa {
    background-image: url(/img/room/room1desktop@2x.jpg);
  }
  .swiper-slide.ab {
    background-image: url(/img/room/room2desktop@2x.jpg);
  }

  .swiper-slide.ac {
    background-image: url(/img/room/room3desktop@2x.jpg);
  }
}
