:root {
  --primary-text-color: #7a7a7a;
  --secondary-text-color: #c79002;

  --primary-title-color: #ffffff;
  --secondary-title-color: #494848;

  --primary-bgc: #fffdee;
  --secondary--bgc: #0e0c07;

  --modal-bgc: #fffdee;

  --accent-color: #f3c653;
  --white: #ffffff;
  --black: #000000;
}

body {
  color: var(--primary-text-color);

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  background-color: var(--primary-bgc);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}
