.carousel_wrapper.right .carousel {
  margin-left: auto;
}

.slick-track {
  display: flex;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-slide {
  padding: 25px 12px;
}

.slick-slide > img {
  box-shadow: 2px 2px 12.5px 2px rgb(0 0 0 / 25%);
  border-radius: 2px;
}

.paginator_right {
  display: flex;
  padding-left: 12px;
  margin-top: 2px;
}

.paginator_right > .carousel_arrow {
  display: flex;
  gap: 34px;
  cursor: pointer;
}

.paginator_left {
  display: flex;
  padding-left: 27.59px;
}

.paginator_left > .carousel_arrow {
  display: flex;
  gap: 34px;
  margin-right: auto;
}

.carousel_arrow .icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

.carousel_arrow .prev:hover > .icon,
.carousel_arrow .next:hover > .icon {
  fill: #f3c653;
}
