<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">About-hotel</h2>
    <div>
      <p class="about-hotel-pre-logos">Amet minim mollit non</p>
      <a class="about-logos link" href="">MIMIHO</a>
      <p class="about-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        srcset="
          ./img/about-hotel-mob-1.jpg    1x,
          ./img/about-hotel-mob-1-2x.jpg 2x
        "
        src="./img/about-hotel-mob-1.jpg"
        alt="modern-studio-apartment"
        width=""
        height=""
      />
    </div>
    <div>
      <p class="about-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        srcset="
          ./img/about-hotel-mob-2.jpg    1x,
          ./img/about-hotel-mob-2-2x.jpg 2x
        "
        src="./img/about-hotel-mob-2.jpg"
        alt="hotel"
        width=""
        height=""
      />
    </div>
    <div>
      <img
        srcset="
          ./img/about-hotel-mob-3.jpg    1x,
          ./img/about-hotel-mob-3-2x.jpg 2x
        "
        src="./img/about-hotel-mob-3.jpg"
        alt="hotel-registration"
        width=""
        height=""
      />
      <img
        srcset="
          ./img/about-hotel-tab-4.jpg    1x,
          ./img/about-hotel-tab-4-2x.jpg 2x
        "
        src="./img/about-hotel-tab-4.jpg"
        alt=""
        width=""
        height=""
      />
    </div>
  </div>
</section>
