<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">About-hotel</h2>
    <p class="about-hotel-pre-title">Amet minim mollit non</p>
    <h3 class="about-title">MIMIH<span class="span-title
      ">O</span> </h3>
    <ul class="about-hotel-list">
      <li class="about-hotel-item">
        <p class="about-hotel-text-1">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div data-aos="fade-right" data-aos-once="true" class="pictures-hotel">
          <picture >
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/about-hotel/about-hotel-1.jpg    1x,
                ./img/about-hotel/about-hotel-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="
                ./img/about-hotel/about-hotel-tab-1.jpg    1x,
                ./img/about-hotel/about-hotel-tab-1-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/about-hotel/about-hotel-mob-1.jpg    1x,
                ./img/about-hotel/about-hotel-mob-1-2x.jpg 2x
              "
            />
            <img
              src="./img/about-hotel/about-hotel-mob-1.jpg"
              alt="modern-studio-apartment"
              width="460px"
              height="574px"
            />
          </picture>
        </div>
      </li>
      <li class="about-hotel-item flex">
        <p class="about-hotel-text-2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div data-aos="fade-left" data-aos-once="true" class="pictures-hotel-position">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/about-hotel/about-hotel-2.jpg    1x,
                ./img/about-hotel/about-hotel-2-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="
                ./img/about-hotel/about-hotel-tab-2.jpg    1x,
                ./img/about-hotel/about-hotel-tab-2-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/about-hotel/about-hotel-mob-2.jpg    1x,
                ./img/about-hotel/about-hotel-mob-2-2x.jpg 2x
              "
            />
            <img
              src="./img/about-hotel/about-hotel-mob-2.jpg"
              alt="hotel"
              width="460px"
              height="574px"
            />
          </picture>
        </div>
      </li>
    </ul>
    <div class="slider-about-hotel"></div>
  </div>
</section>
