<section class="about-restaurant-section">
    <div class="container">
        <h2 class="visually-hidden ">About our restaurant</h2>
        <p class="about-restaurant-amet">Amet minim mollit non</p>
        <h3 class="about-restaurant-mimino">MIMIHO</h3>
        <div class="about-restaurant-description"></div>
        <p class="about-restaurant-non">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit
            officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <img class="about-restaurant-img-one" src="../../img/about-restaurant/restaurant-interior-desktop-1x.jpg"
            alt="our-restaraunt">
    </div>
    <div class="about-restaurant-block">
        <img class="about-restaurant-img-two" src="../../img/about-restaurant/about-restaraunt-desktop-1x.jpg"
            alt="our-restaraunt">
        <p class="about-restaurant-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit
            officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    </div>
</section>