<section class="about-restaurant-section">
    <h2 class="about-restaurant">About our restaurant</h2>
    <div class="about-restaurant-description">
        <p class="about-restaurant-amet">Amet minim mollit non</p>
        <p class="about-restaurant-mimino">MIMIHO</p>
        <p class="about-restaurant-non">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <img class="about-restaurant-img-one" src="" alt="">
    </div>
    <div class="about-restaurant-block">
        <img class="about-restaurant-img-two" src="" alt="">
        <p class="about-restaurant-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
</section>