<!-- KATERYNA SELYVONENKO -->
<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <h3 class="contacts-heading-2">МІМІНО</h3>
    <p class="contacts-paragaph">Ресторанно-готельний комплекс</p>
    <ul class="contacts-list">
      <!-- РЕСТОРАН -->
      <li class="contacts-list-item-0">
        <p class="contacts-paragaph-1">Ресторан</p>
        <ul class="contacts-list-2">
          <li class="contacts-list-item">
            <!-- всередині коробочки -->
            <ul class="contacts-box">
              <li class="contacts-list-inside">
                <svg class="contacts-phone-icon" width="24" height="24">
                  <use href="../../img/icons.svg#icon-phone"></use>
                </svg>
              </li>

              <li class="contacts-list-inside">
                <a class="contacts-item" href="tel:+380955559533"
                  >095 555 95 33</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- ГОТЕЛЬ -->
      <li class="contacts-list-item-0">
        <p class="contacts-paragaph-1">Готель</p>
        <ul class="contacts-list-3">
          <li class="contacts-list-item-1">
            <ul class="contacts-box">
              <!-- всередині коробочки -->
              <li class="contacts-list-inside">
                <svg class="contacts-phone-icon" width="24" height="24">
                  <use href="../../img/icons.svg#icon-phone"></use>
                </svg>
              </li>

              <li class="contacts-list-inside-1">
                <a class="contacts-item-hotel-1" href="tel:+380668491089"
                  >066 849 10 89</a
                >
              </li>

              <li class="contacts-list-inside">
                <a class="contacts-item-hotel-2" href="tel:+380672758540"
                  >067 275 85 40</a
                >
              </li>
            </ul>
          </li>

          <!-- всередині коробочки -->
          <li class="contacts-list-item-2">
            <ul class="contacts-box-1">
              <li class="contacts-list-inside">
                <svg class="contacts-phone-icon" width="24" height="24">
                  <use href="../../img/icons.svg#icon-location"></use>
                </svg>
              </li>

              <li class="contacts-list-inside">
                <a
                  class="contacts-address"
                  href="https://goo.gl/maps/rWrmUMpZLwgkyBE68"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  >Україна, м. Полтава, <br />
                  вул. Маршала <br />
                  Бірюзова, 15</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <iframe
      class="contacts-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9232137442536!2d34.52435761511849!3d49.59919745621388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0ZfQvdCwLCAzNjAwMA!5e0!3m2!1suk!2sbg!4v1676496911739!5m2!1suk!2sbg"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
