<section class="details-restaurant">
    <div class="container add">
        <div class="line"></div>
    <div class="alltexts">
    <p class="text1">MIMIHO</p>
    <h2 class="headtext">Ресторан</h2>
    <p class="text2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    </div>
    <div class="box"></div>
    <div class="buttons">
        <button type="button" class="modal-open-btn">Забронювати столик</button>
    
     
        <!-- <button type="button" class="link-to-restaurantpage">Переглянути меню</button> -->

       <!---- <a href="https://www.restaurant.page.com/" class="button">Переглянути меню</a> 
        
        <a class="mob-menu-navigation-item" href="./restaurant.html">Переглянути меню</a>-->

        <a class="link-to-restaurantpage" href="./restaurant.html">Переглянути меню</a>

    </div>
</div>
</section>