<section class="details-restaurant">
  <div class="container add">
    <div class="textandbuttons">
      <div class="alltexts">
        <p class="text1">MIMIHO</p>
        <h2 class="headtext">Ресторан</h2>
        <p class="text2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
      <!-- <div class="box"></div> -->
      <div class="section_slider">
        <div class="carousel_wrapper right">
          <ul class="carousel carousel_right" id="details_restaurant_slider">
            <li>
              <img
                src="./img/restaurantdetails/details_restaurant_slider_1.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="./img/restaurantdetails/details_restaurant_slider_2.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="./img/restaurantdetails/details_restaurant_slider_2.jpg"
                alt=""
              />
            </li>
          </ul>
          <div class="paginator_right" id="slider_1">
            <ul class="carousel_right_arrow carousel_arrow">
              <li class="prev">
                <svg class="icon" height="32" width="32">
                  <use href="./img/icons.svg#icon-arrow_left"></use>
                </svg>
              </li>
              <li class="next">
                <svg class="icon" height="32" width="32">
                  <use href="./img/icons.svg#icon-arrow_right"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="buttons">
          <button
            type="button"
            class="modal-open-btn open_modal"
            data-modal-id="#modal_table"
          >
            Забронювати столик
          </button>

          <a class="link-to-restaurantpage" href="./restaurant.html"
            >Переглянути меню</a
          >
        </div>
      </div>
      <!-- <button type="button" class="link-to-restaurantpage">Переглянути меню</button> -->

      <!---- <a href="https://www.restaurant.page.com/" class="button">Переглянути меню</a> 
        
        <a class="mob-menu-navigation-item" href="./restaurant.html">Переглянути меню</a>-->
    </div>
  </div>
</section>
