<section class="hotel-details-section section">
  <p class="hotel-details-logo">MIMIHO</p>
  <h2 class="hotel-details-title">Готель</h2>
  <p class="hotel-details-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit.
  </p>
  <div class="hotel-details-images-wrapper">
    <ul class="hotel-details-services-image-list">
      <li class="hotel-details-services-image-item">
        <img src="" alt="sleeping bed" width="" height="" />
      </li>
      <li class="hotel-details-services-image-item">
        <img src="" alt="breakfast" width="" height="" />
      </li>
      <li class="hotel-details-services-image-item">
        <img src="" alt="reception" width="" height="" />
      </li>
    </ul>
  </div>
  <div>
    <button class="hotel-details-button button-booking" type="button">
      Забронювати номер
    </button>
    <button class="hotel-details-button button-prices" type="form">
      Переглянути ціни
    </button>
  </div>
</section>
