<section class="dh-section">
  <div class="container">
    <div class="dh-text-wrapper">
      <div class="dh-title-text">
        <p class="dh-logo">MIMIHO</p>
        <h2 class="dh-title">Готель</h2>
      </div>
      <p class="dh-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <!-- ROOM MODAL -->
    <button class="dh-button" type="button">Забронювати номер</button>

    <a class="dh-link" href="./hotel.html">Переглянути ціни</a>

    <!-- <div class="dh-content-block-wrapper">
      <div class="dh-images-wrapper">
        <ul class="dh-services-image-list">
          <li class="dh-services-image-item">
            <img
              class="dh-first-image"
              srcset="
                ./img/main/details-hotel/bed_in_the_room@1x.jpg 1x,
                ./img/main/details-hotel/bed_in_the_room@2x.jpg 2x
              "
              src="./img/main/details-hotel/bed_in_the_room@1x.jpg"
              alt="sleeping bed"
              width="274"
              height="270"
            />
          </li>
          <li class="dh-services-image-item">
            <img
              class="dh-second-image"
              srcset="
                ./img/main/details-hotel/breakfast@1x.jpg 1x,
                ./img/main/details-hotel/breakfast@2x.jpg 2x
              "
              src="./img/main/details-hotel/breakfast@1x.jpg"
              alt="breakfast"
              width="274"
              height="270"
            />
          </li>
          <li class="dh-services-image-item">
            <img
              class="dh-third-image"
              srcset="
                ./img/main/details-hotel/reception@1x.jpg  1x,
                ../img/main/details-hotel/reception@2x.jpg 2x
              "
              src="./img/main/details-hotel/reception@1x.jpg"
              alt="reception"
              width="274"
              height="270"
            />
          </li>
        </ul>
      </div>
      <div class="dh-button-wrap dh-buttons-block">
        <button class="dh-button button-booking" type="button">
          Забронювати номер
        </button>
        <form action="./about-hotel.html" target="_self">
          <button class="dh-button button-prices" type="form">
            Переглянути ціни
          </button>
        </form>
      </div>
    </div> -->
  </div>
</section>
