<section>
    <p>MIMIHO</p>
    <h1>Ресторан</h1>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    <ul>
        <li>
            <img src="" 
            alt="stake">
            width="270"
            height="270"
        </li>

        <li>
            <img src="" 
            alt="bruschetta">
            width="162"
            height="270"
        </li>

        <li>
             <img src="" 
            alt="meatsalad">
            width="270"
            height="270"
        </li>
    </ul>
    
        <button type="button">Забронювати столик</button>
        <button type="button">Переглянути меню</button>

       <!---- <a href="https://www.restaurant.page.com/" class="button">Переглянути меню</a> --->

</section>