

<section class="hero-main">
<div class="container">
    <a href="https://goo.gl/maps/gsLoxivQWbPbsx788" target="_blank" title="Ресторанно-готельний комплекс">
        <address class="adress-hotel">
            <svg class="icon-svg-location" width="20px" height="20px">
                <use href="../../img/main-hero img/main-hero-svg/symbol-defs.svg#icon-location"></use>
            </svg>
        <p class="hotel-location">Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </p>
        </address>
    </a>
    <div class="info-hotel">
        <h1 class="hero-title">MIMIHO</h1>
        <h2 class="hero-main-title">Ресторанно-готельний комплекс</h2>
        <p class="hero-main-big">СМАК ЖИТТЯ 24/7</p>
        <div class="dislocation">
            <button class="btn" type="button">Забронювати столик</button>
            <button class="btn" type="button">Забронювати номер</button>
        </div>
    </div>
    <ul class="hero-social-main">
        <li class="hero-social-item">
            <a href="#">
                <svg class="icon">
                    <use href="../../img/main-hero img/main-hero-svg/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="hero-social-item">
            <a href="#">
                <svg class="icon">
                    <use href="../../img/main-hero img/main-hero-svg/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="hero-social-item">
            <a href="#">
                <svg class="icon">
                    <use href="../../img/main-hero img/main-hero-svg/symbol-defs.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
    </ul>
    </div>
</section>
