<!-- OCHERETKO OLEG -->
<section class="hero-main">
  <div class="container container-position">
    <a 
      href="https://goo.gl/maps/gsLoxivQWbPbsx788"
      target="_blank"
      title="Ресторанно-готельний комплекс"
    >
      <address class="adress-hotel">
        <svg class="icon-svg-location">
          <use href="./img/hero-main/symbol-defs.svg#icon-location"></use>
        </svg>
        <p class="hotel-location">
          Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15
        </p>
      </address>
    </a>
    <div class="info-hotel">
      <h1 class="hero-title">MIMIH<span>O</span></h1>
      <h2 class="hero-main-title">Ресторанно-готельний комплекс</h2>
      <p class="hero-main-big">СМАК ЖИТТЯ 24/7</p>
      <div class="dislocation">
        <!-- Кнопка “Забронювати столик” має відкривати модальне вікно BOOR TABLE MODAL WINDOW -->

        <button
          class="btn-main-1 open_modal"
          data-modal-id="#modal_table"
          type="button"
        >
          Забронювати столик
        </button>

        <!-- Кнопка “Забронювати номер” має відкривати модальне вікно BOOR ROOM MODAL WINDOW. -->
        <button
          class="btn-main-2 open_modal"
          data-modal-id="#modal_room"
          type="button"
        >
          Забронювати номер
        </button>
      </div>
    </div>
    <ul class="hero-social-main">
      <li class="hero-social-item">
        <a target="_blank" href="https://www.instagram.com/">
          <svg class="icon">
            <use href="./img/hero-main/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-item">
        <a target="_blank" href="https://www.facebook.com/">
          <svg class="icon">
            <use href="./img/hero-main/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-item">
        <a target="_blank" href="https://t.me/c/1135908310/588">
          <svg class="icon">
            <use href="./img/hero-main/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
